.block-product-table {
  @extend .clearfix;
  margin-bottom: $block-margin;
  text-align: left;

	.layout-content {
	  padding-top: $block-padding;
	  padding-bottom: $block-padding;
	  @include span(10);
	  @include push(1);
	}

  &.align-center {
    text-align: center;
  }

  &.clearfix {
    @extend .clearfix;
  }

  h3 {
  	@extend .header-leaf;
    text-align: center;
  }

  .product {
    .add_to_cart_button {
    
    }
  }
}