.block-table {
  padding-top: $block-padding;
  padding-bottom: $block-padding;

  .table-wrap {
  }

  h3 {
  }

  .table-content {

    @media #{$bp-tab} {
      @include span(12);
    }

  }

  .table-links {

    @media #{$bp-desk} {
    }

    @media #{$bp-tab} {
      @include span(12);
    }

    div {
      @extend .clearfix;
      border-bottom: 1px solid $light-grey;
    }

    span {
      display: inline-block;
      line-height: 1.5em;
      max-width: 50%;
      vertical-align: right;
    }

    .link-wrap {
      text-align: right;
      float: right;
    }

    a {
    }
  }
}
