.block-generic-content {
  @extend .clearfix;
  margin-bottom: $block-margin;
  text-align: left;

  /* 
  this dodges specificity problems
  by 'unformatting' certain module styles
  */   
  &:not(.no-format) { 
  	.layout-content {
  	  padding-top: $block-padding;
  	  padding-bottom: $block-padding;
  	  @include span(10);
  	  @include push(1);
  	}
  }

  &.align-center {
    text-align: center;
  }

  &.clearfix {
    @extend .clearfix;
  }

  h3 {
  	@extend .header-leaf;
    text-align: center;
  }

  p {
    font-size: 20px;
    line-height: 32px;
    font-family: 'Source Serif Pro', serif;
  }

  &.product-module {
    h3 {
      text-align: center;
    }
  }

  &.location-info {
    @include span(6);
    position: relative;
    height: 480px;
    text-align: left;

    .layout-content {
      @include span(4 of 6);
      @include push(1 of 6);

      padding-top: 14.6%;
    }

    h3 {
      background: none;
      padding-top: 0;
      text-align: left !important;
    }

    address {
      font-size: 32px;
      line-height: 1.2em;
      font-style: normal;
      font-family: 'Source Serif Pro', serif;
    }

    @include breakpoint($bp-tab) {
      @include span(12);
      height: auto;

      .layout-content {
        padding-top: $block-margin;
      }

      p {
        margin-bottom: 0;
      }
    }

    @include breakpoint($bp-mobile) {
      .layout-content {
        @include span(10 of 12);
        @include push(1 of 12);
      }
    }
  }

  &.contact-block {
    h3 {
      display: none;
    }

    p {
      margin: 0;
    }

    .map-image {
      background: url('../../images/Map.png') top center no-repeat;
      height: 400px;
      max-width: 100%;
      display: block;
    }

    .contact-info {
      padding: 4% 2%;
      background-color: white;
      text-align: center;

      div {
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: $font-size-small;
        line-height: 20px;
        margin: 0 15px;
        padding-left: 25px;
        background-repeat: no-repeat;
        background-position: top left;

        &.address {
          background-image: url('../../images/Contact-Map.svg');
          background-size: 20px;
        }

        &.phone {
          background-image: url('../../images/Contact-Phone.svg');
        }

        &.email {
          background-image: url('../../images/Contact-eMail.svg');
        }

        @include breakpoint($bp-mobile) {
          display: block;
          margin-bottom: 20px;
          text-align: left;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

}