html {
	background-color: #212121;
}

.module {
	background-color: white;
	text-align: center;
	color: black;
}

// Post Styles

.post {
  padding: 8.33% 0;
  background-color: white;
  margin-bottom: $block-margin;
  color: black;

  .layout-content {
  	@include span(10);
  	@include push(1);
  }

  a {
  	color: $red;
  	text-decoration: underline;

  	&:hover {
  		text-decoration: none;
  	}
  }

  ul {
  	list-style: disc;

  	li {
  	  margin-left: 20px;
  	}
  }

	.entry-content {
		p {
			font-size: 20px;
			line-height: 32px;
			font-family: 'Source Serif Pro', serif;
			color: black;
		}
	}

	.post-excerpt-left {
		@include span(3 of 10);

		img {
			max-width: 100%;
			height: auto;
		}
	}

	.post-excerpt-right {
		@include span(6 of 10 last);

		h2 {
			font-size: 30px;
			line-height: 36px;
			font-family: 'Source Serif Pro', serif;
		}

		.button {
		}
	}

	.entry-meta {
		color: $dark-grey;
		margin-bottom: $bottom-margin;
		font-size: 14px;
		font-family: 'Montserrat', sans-serif;
	}

  @extend .clearfix;
}

.single {
	.post {

		.entry-header {
			text-align: center;

			h2 {
				font-size: 30px;
				font-family: 'Source Serif Pro', serif;
				margin-top: 40px;
				font-weight: normal;
			}
		}
	}
}

// Products

.coffee-products {
	border-top: 1px solid $dark-grey;
	list-style: none;
	margin: 0;

	li {
		padding: 30px 0;
		border-bottom: 1px solid $dark-grey;
		@extend .clearfix;

		.product-left {
			display: inline-block;
			text-align: left;
			@include span(8 of 10);

			.product-name {
				display: inline-block;
				font-size: 30px;
				padding-left: 40px;
				font-family: 'Source Serif Pro', serif;
				background: url('../../images/Leaf-002.svg') center left no-repeat;
				background-size: 25px;
				margin-right: 10px;
				line-height: 1em;
			}

			a {
				font-size: 14px;
				color: $red;
			}
		}

		.product-right {
			display: inline-block;
			text-align: right;
			@include span(2 of 10);

			.size, .price {
				color: $dark-grey;
				font-size: 14px;
				display: inline-block;
				margin-right: 15px;
			}

			.cart {
				width: 15px;
				height: 15px;
				background-image: url('../../images/carticon.png');
				display: inline-block;
			}
		}
	}

	@include breakpoint($bp-tab) {
		li .product-left a{
			font-size: 14px;
	   		color: #8e4b44;
	    	padding-left: 39px;
		}
		li .product-left
		{
			width:100%;
			 .product-name{
				font-size: 20px;
				padding-top: 10px;
				background-size: 25px;
				padding: 5px 0 5px 40px;
				}
		}
		li .product-right{
			display: inline-block;
			width:100%;
			margin: 10px 0px 0px 39px;
			text-align: left;
		}
	}
}