* {
    box-sizing: border-box;
}

.site-header, .site-footer, .site-content {
	@extend .default-grid;
    padding: 0px;
}

.module {
}

// Block Level Elements (for uniform margin)
// See: https://developer.mozilla.org/en-US/docs/HTML/Block-level_elements
address,figcaption,ol,article,figure,output,aside,
p,audio,form,pre,h1,h2,h3,h4,h5,h6,canvas,table,
dd,hgroup,tfoot,hr,ul,dl,video,fieldset,noscript {
    margin: 0 0 $bottom-margin 0;
}

// Generally used as containers
section, header, footer, blockquote {
    margin: 0;
}

// Lists
ul,ol {
    padding: 0;
    list-style: none;

    li {
        padding: 0;
    }
}

dl {
    padding: 0;

    dd {
        padding: 0;
    }
}
