/*
This file contains mixins and classes to be used
with @include and @extend.  Add any new mixins here.
*/

/*
Default grid should be the outer container for any susy grid
It is included as a class so it may be extended using @extend.
Change the padding here to change default outer grid padding.
Extend .default-grid on either the site container, or around
Individual components as necessary.
*/

@mixin default-grid($padding: 0) {
  @include container();
  padding-left: $padding;
  padding-right: $padding;
}

.default-grid {
  @include default-grid();
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin transform($transform) {
  -webkit-transform: $transform;
      -ms-transform: $transform;
          transform: $transform;
}

@mixin grow() {
  -webkit-transition: -webkit-transform .3s linear;
        transition: transform .3s linear;

  &:hover {
      -webkit-transform: scale(1.5);
          -ms-transform: scale(1.5);
              transform: scale(1.5);
      -webkit-transition: -webkit-transform .15s linear;
              transition: transform .15s linear;
  }
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.clear {
  clear: both;
}

.screen-reader-text {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.header-leaf {
  padding-top: 25px;
  background: url('../../images/Leaf-001.svg') no-repeat;
  background-position: top center;
  background-size: 20px 20px;
  text-transform: uppercase;
  margin-bottom: $bottom-margin;
  color: $dark-grey;
  font-size: $font-size-small;
  letter-spacing: 2px;
}
.half-heading-h3 {
  padding-top: 25px;
  background-position: top center;
  background-size: 20px 20px;
  text-transform: uppercase;
  margin-bottom: $bottom-margin;
  color: $dark-grey;
  font-size: $font-size-small;
}

.menuformat{
  text-decoration:none;
  text-transform:uppercase;
  font-family: $font-family-base;
  letter-spacing: 2px;

  &:hover {
    color: $dark-grey;
  }
}

.button {
  text-transform: uppercase;
  display: inline-block;
  background-color: $red;
  padding: 5px 10px;
  letter-spacing: 2px;
  color: white !important;
  text-decoration: none !important;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 14px;
  line-height: 24px;

  &:hover {
    text-decoration: none;
  }
}