
// Colors

$c-white: #fff;
$c-black: #212121;
$light-grey: #e6e6e6;
$medium-grey: #cacaca;
$dark-grey: #85897D;
$red: #8e4b44;

// Layout

$block-padding: 7%;
$block-margin: 40px;
$bottom-margin: 2rem;

// Typography

$font-family-base: 'Montserrat', sans-serif;
$font-size-base   : 15px;
$font-size-small  : 14px;
$font-size-large  : 16px;

// Media Queries
// Rewritten to use breakpoints-sass

//$bp-mobile:	"only screen and (max-width: 480px)";
$bp-tab-sm: "only screen and (max-width: 600px)";
$bp-tab:	max-width 768px;
$bp-desk:	max-width 960px;
$bp-desk-lg: "only screen and (max-width: 1200px)";

$bp-mobile: max-width 600px; 

// Susy Settings (add as needed in base)

$gutter-position: after;
$container: 960px;
$columns: 12;
$gutters: 0;
$box-sizing: border-box;

