
// Libraries

// Optional: @import "../../bower_components/compass-mixins/lib/compass";
@import "../../bower_components/susy/sass/susy";
@import "../../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "../../bower_components/normalize-css/normalize.css";
//@import "../../bower_components/animate.scss/scss/animate";
//@import "../../bower_components/wow/css/libs/animate.css";



// Theme Configuration

@import "variables";
@import "base";
@import "type";
@import "mixins";
@import "layout";
@import "globals";

// views

@import "views/navigation";
@import "views/header";
@import "views/footer";

// Pages

@import "pages/home";

// Modules

@import "../../includes/modules/modules";


 
.our_location h3 {
  	@extend .half-heading-h3;
  }
.our_location{
    display: inline-block;
    font-size: 30px;
    padding-left: 40px;
    font-family: 'Source Serif Pro', serif;
    argin-right: 10px;
    line-height: 1em; 
	width:50%;
	height:480px;
}
.our_location a{
	@extend .button;
	font-size: 14px ;
	margin-top:20px;
}
.map_img{
 		 margin-top:40px;
		 margin-bottom: 0px;

	.layout-content{
   			 padding-top: 0% !important;
			 margin-left: 0% !important;
			 padding-bottom: 0% !important;
			 width: 100% !important;
	ul{
		width:98%;
		margin:0 auto;
	}		 
	ul li{
	   		padding: 0px 33px 0px 28px;
   			margin-bottom: 20px;
			 display: inline-block;
		}
		li.addr_img{
			background:url(../../images/Contact-Map.svg) no-repeat left center;
		}
		li.contct_img{
			background:url(../../images/Contact-Phone.svg) no-repeat left center;
		}
		li.email_img{
			background:url(../../images/Contact-eMail.svg) no-repeat left center;
		}
		}
}
span.story_button{
    display: block;
    text-align: center;
	}
.map_img h3{
	display:none;
	}

@include breakpoint($bp-mobile){
	.block-media .bg-image .img-overlay{
		@include span(12);
	}
	.block-media .title .title-wrap h3{
	 	@include span(12);
	}
	.block-generic-content{
		@include span(12);
	}
	.header-leaf, .block-generic-content h3{
	    text-align: center;
	}

	.block-slider {
		@include span(12);	
	
	}
	.our_location{
		@include span(12);
		font-size:20px;
		padding-left:0px;
	}
	.map_img{
		@include span(12);
		}
}
