.site-info {
	padding:30px 0;
	margin:0px;
	display:table;
	width:100%;

	.copyright{
		margin:0px;
		padding:0px;
		font-size:12px;
		color:#535851;

	  a{
			color: $dark-grey;
			font-family: 'Source Serif Pro', serif;
	  }
	}
}

.menu-footer-container{
	margin:0px;
	padding:0px;
	text-align:right;

	ul{
    margin-bottom: 20px;
    margin-top: 5px;
		padding:0px;
		list-style:none;

		li{
			margin:0 0 0 20px;
			padding:0px;
			display:inline-block;

			a{
				margin:0px;
				padding:0px;
				display:inline-block;
				@extend .menuformat;
			}
		}
	}
}

.footer-left {
	@include span(4);
}

.footer-right {
	@include span(8);
	margin:0px;
	padding:0px;
	text-align:right;
}


@include breakpoint($bp-mobile){
	.footer-left{
		@include span(12);
		padding: 0 20px;
		
	}
	.footer-right{
		@include span(12);
		.menu-footer-container ul li{
			display:block;
			text-align: center;
			padding:10px;
		}
	}
	.site-info .copyright{
		    width: 75%;
			display: block;
			    margin: 0 auto;
				text-align: center;
			}
	 .copyright span{
		dispaly:block;
		text-align: center;
	}
}