.site-header{
	margin-top: $block-margin;
  margin-bottom: $block-margin;

  @include breakpoint($bp-desk) {
  	margin-left: 20px;
  	margin-right: 20px;
  }
}

.logo{
	@include span(6);
	text-align:center;
}

.menu-left{
	@include span(3);
	margin-top: 9%;
	font-family: $font-family-base;

	.menu {
		a {
			margin-bottom: 10px;
			display: inline-block;
			@extend .menuformat;
		}

		#menu-item-78 {
			a {
				visibility: hidden;
				&::before {
					content: "";
					width: 20px;
					height: 15px;
					background-image: url(../../images/carticon.png);
					background-repeat: no-repeat;
					display: inline-block;
					visibility: visible;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

}
.menu-header-left-container #menu-header-left{

	margin:0px;


}


.main_nav{
	@include span(3 at 9);
	margin-top:7%;

	 ul{
		margin:0px;
		padding:0px;
		list-style:none;

		 li{
			margin:0px;
			padding:0px;
			display:block;
			text-align:right;

			 a{
				margin-bottom: 10px;
				padding:0px;
				display:inline-block;
				@extend .menuformat;
			}
		}
	}
}

.menu-toggle{
	display:none;
}

@include breakpoint($bp-mobile){
.menu-left{
	@include span(10);

	}
.menu-main-container{
	display:none;
	}
.menu-toggle{
	display:block;
	float:right;
	background-color: transparent;
	border:none;
	font-size:14px;
	font-family: $font-family-base;
	}
.main_nav{
	@include span(12);
	display:block;
	margin:0px;
	position:absolute;
	left: 0px;
    top: 25px;

	}
.header{
	width:85%;
	margin: 0 auto;
    display: table;
    position: relative;
	    
	}
.site-header{
	 margin-top: 0px;
	}
.menu-header-left-container{
	float:left;
	margin-right: 15px;
 }
.cart_logo{
	
	padding:5px 5px 0px 5px;
	}
.logo{
	@include span(12);
	padding:10px;
	}
	
}