@include breakpoint($bp-mobile){
.menu-main-container{
 display:none;
 position:absolute;
 width:100%;
 height: 99px;
 left:0px;
 top:70px;
 background:#2F3335;
}
.menu-main-container ul{
 margin:0px;
 padding:0px;
 text-align:left;
}
.menu-main-container ul li{
 margin:0px;
 padding:0px;
 display:block;
}
.menu-main-container ul li a{
 padding:8px 10px;
 display:block;
}
}