.block-slider {
  @include span(6);
  position: relative;
  height: 480px;
  margin-bottom: $block-margin;

  &.full-slider {
    @include span(12);
  }

  .colorbox {
    display: block;
  }

  .slick-prev, .slick-next {
    @include vertical-align(absolute);
    width: 30px;
    height: 45px;
    cursor: pointer;
    background-repeat: no-repeat;
    z-index: 1;
  }
  .slick-prev {
    background-image: url('../../images/Arrow-Left.svg');
    left: 10.4%;
  }
  .slick-next {
    background-image: url('../../images/Arrow-Right.svg');
    right: 10.4%;
  }

  .slick-track {
    height: 480px;
  }

  .bg-image {
    height: 100%;
    background-position: center;
  }

  h3 {
    display: none;
  }

  @include breakpoint($bp-tab) {
    @include span(12);
    margin-bottom: 0;
  }
}
