.block-media {
  position: relative;
  font-size: 0; // to keep inline-block display of half-width elements correct

  .bg-image {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: top center;
    padding-bottom: 50%;

    .img-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    @media only screen and (max-width: 700px) {
      height: auto;
      padding-bottom: 100%;
    }
  }

  .title {
    @include vertical-align(absolute);
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;

    .title-wrap {
      max-width: 60%;
      margin-left: auto;
      margin-right: auto;

      h3 {
        font-size: 46px;
        line-height: 1.2em;
        color: white;
        margin-bottom: 0;
        font-family: 'Source Serif Pro', serif;
        font-weight: normal;

        @include breakpoint($bp-mobile) {
          font-size: 40px;
        }
      }

      .subtitle {
        font-size: 18px;
        margin-bottom: 0px;
        display: block;
      }

      a {
        display: block;
        padding: 15px 50px;
        font-size: 18px;
        border-top: 2px solid white;
        display: inline-block;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          max-height: 0;
          -webkit-transition: max-height .5s ease;
          transition: max-height .5s ease;
          opacity: .5;
          z-index: -1;
        }
      }

      &:hover {
        a {
          &::after {
            max-height: 70px;
            -webkit-transition: max-height .5s ease;
            transition: max-height .5s ease;
          }
        }
      }

 
    }

    
  }

  &.half-width {
    .bg-image {
      @media only screen and (max-width: 1400px) {
        height: auto;
        padding-bottom: 100%;
      }
    }

    .img-block-wrap {
      display: inline-block;
      width: 50%;
      position: relative;

      &:first-of-type {
        border-right: 1px solid #f5f5f5;
      }

    }
  }
}